.card {
  border: 1px solid hsl(0,0%,80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(20, 19, 19, 0.299);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card .card-image {
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card .pro-title {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  color: rgb(53, 52, 52);
}

.card .card-text {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(90, 77, 77);
}

.button { 
  background-color: rgb(153, 197, 255);
  color: rgb(130, 115, 115);
  padding: 10px 20px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
}

.student {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 20px;
  border: 1px solid black;
  /* margin: 10px; */
}

.counter{
  text-align: center;
  font-size: 10em;
  background-color: bisque;
  

}
.count{
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  background-color: rgb(193, 184, 184);
}

.cnt{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  width: 150px;
  height: 60px;
  border: none;
  font-weight: bold;
  border-radius: 7px;
  margin: 0px 7px;
  background-color: rgb(72, 53, 90);
  color: aliceblue;
  cursor: pointer
}

.cnt:hover{
  background-color: rgb(142, 100, 182); ;
}